body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
   padding: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-container {
    display: flex;
    justify-content: space-between;
}

.cat-icon {
    width: 50px;
}

.cat-wrapper {
    width: 150px;
}

footer {
    background-color: bisque;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 30px;
}

.fluffy-container fieldset {
    padding: 10px;
}

input {
    text-align: center;
}

legend {
    margin: auto;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.name-container input, .name-container label {
    padding: 10px;
}

.range-wrapper {
    display: flex;
    justify-content: center;
}


